<h1> Add new members </h1>

<form method="POST" action="/members">

  <p>
    <label for="name">Full Name:</label>
    <input type="text" name="name" id="name"/>
  </p>
  <p>
    <label for="age">Age:</label>
    <input type="number" name="age" id="age"/>
  </p>
  <p>
    <label for="ability">Ability (Lowest: 1, Highest: 5):</label>
    <input type="number" name="ability" id="ability" min="1", max="5"/>
  </p>
  <p>
    <label for="avalanche_trained">Has this member completed avalanche training?</label>
  </p>
  <p>
    <input type="radio" id="avalanche_trained" name="avalanche_trained" value="false" checked> No
  </p>
  <p>
    <input type="radio" id="avalanche_trained" name="avalanche_trained" value="true"> Yes
  </p>
  <input type="submit" value="Add member"/>
</form>
