<h1> Add new members </h1>

<form method="POST" action="/members">
  <div>

    <div>
      <label for="name">Full Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div>
      <label for="age">Age:</label>
      <input type="number" name="age" id="age"/>
    </div>

    <div>
      <label for="ability">Ability (Lowest: 1, Highest: 5):</label>
      <input type="number" name="ability" id="ability" min="1", max="5"/>
    </div>

    <div>
      <label for="avalanche_trained">Has this member completed avalanche training?</label>
      <input type="radio" id="avalanche_trained" name="avalanche_trained" value="false" checked> No <br>
      <input type="radio" id="avalanche_trained" name="avalanche_trained" value="true" checked> Yes <br>
    </div>

    <div>
      <input type="submit" value="Add member"/>
    </div>

  </div>
</form>
