<h1> This is the home </h1>

<ul>
  <li><a href='/members/new'>Add Member</a></li>
  <li><a href='/tours/new'>Add Tour</a></li>
  <li><a href='/bookings/new'>New Booking</a></li>
</ul>

<h3> All upcoming tours this month </h3>
<p> Show tours this month with bar to represent capacity </p>
