<!DOCTYPE html>
<html>
<head>
  <title>Tour Excursions</title>
  <link rel="stylesheet" href="/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Rajdhani"
</head>
<body>
  <nav>
    <li><a href='/'>Home</a></li>
    <li><a href='/members'>All Members</a></li>
    <li><a href='/tours'>All Tours</a></li>
    <li><a href='/bookings'>All Bookings</a></li>
  </nav>
  <%= yield %>
  <!-- <footer class="footer">
    <h6>Katharina Bitzan @CodeClan 2019</h6>
  </footer> -->
</body>


</html>
