<!DOCTYPE html>
<html>
<head>
  <title>Tour Excursions</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <li><a href='/'>Home</a></li>
    <li><a href='/members'>All Members</a></li>
    <li><a href='/tours'>All Tours</a></li>
    <li><a href='/bookings'>All Bookings</a></li>
  </nav>
  <%= yield %>

</body>
</html>
