<p>All bookings</p>

<table>
  <tr>
    <th>Booking ID</th>
    <th>Tour Name</th>
    <th>Member Name</th>
    <th>Actions</th>
  </tr>
  <%for booking in @bookings%>
    <tr>
      <td><%=booking.id%></td>
      <td><%=booking.tour.name%></td>
      <td><%=booking.member.name%></td>
      <td>
        <form action="/bookings/<%= booking.id %>/delete" method="POST">
        <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  <%end%>

</table>
