<h1> Create a new booking: </h1>

<form method="POST" action="/bookings">

  <p>
    <label>
      Select a tour:
      <select name="tour_id">
        <% for tour in @tours %>
        <option value="<%= tour.id %>"><%= tour.id%></option>
        <%end%>
      </select>
    </label>
  </p>

  <p>
    <label>
      Select a member:
      <select name="member_id">
        <% for member in @members %>
        <option value="<%= member.id %>"><%= member.name%></option>
        <%end%>
      </select>
    </label>
  </p>



    <input type='submit' value="Make new booking">
  </form>
</form>
